@use '../base' as base;
@use '../mixins' as mixins;
@use 'sass:color';

.button, .btn {
  background: base.$irish-gold;
  color: base.$irish-gold-text;
  font-family: var(--font-family-base);
  font-size: 1.06rem;
  font-weight: 700;
  border: none;
  border-radius: 9px;
  padding: 11px 28px;
  box-shadow: 0 2px 8px rgba(247, 178, 55, 0.14);
  cursor: pointer;
  transition: background 0.15s, color 0.15s, box-shadow 0.18s;

  &:hover,
  &:focus {
    background: base.$irish-gold-dark;
    color: #fff;
    box-shadow: 0 7px 18px rgba(247, 178, 55, 0.18);
  }
}

.button--outline, .btn--outline {
  background: transparent;
  color: base.$irish-gold;
  border: 2px solid base.$irish-gold;
  &:hover,
  &:focus {
    background: base.$irish-gold;
    color: #fff;
  }
}

.button--light, .btn--light {
  background: base.$irish-gold-light;
  color: base.$irish-gold-text;
  &:hover,
  &:focus {
    background: base.$irish-gold;
    color: #fff;
  }
}
