@use "../base" as base;
@use "../mixins" as mixins;
@use "sass:color"; // Using the modern Sass color module

.button {
  background-color: base.$secondary-color;
  color: #fff;
  padding: calc(var(--spacing-unit) * 0.75) calc(var(--spacing-unit) * 1.5); // Adjust button size
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  @include mixins.transition(background-color);

  &:hover {
    background-color: color.adjust(base.$secondary-color, $lightness: -10%); // Hover effect
  }

  &:focus {
    background-color: color.adjust(base.$secondary-color, $lightness: -10%); // Focus effect
  }
}
