.footer {
  max-width: 1200px;
  margin: 0 auto; // Center footer content
  width: 100%;
  /* Remove background-color from here */
  color: #fff;
  text-align: center;
  padding: calc(var(--spacing-unit) * 1.5);
}
