@use '../base' as base;
@use '../mixins' as mixins;
@use 'sass:color';

.product-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: var(--shadow-light);
  display: flex;
  flex-direction: column; // Display image above content
  padding: calc(var(--spacing-unit) * 2);
  min-height: 250px; // Increase card height for better proportions
  @include mixins.transition(box-shadow);

  &:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.18);
  }

  &__image {
    width: 100%;         // Full width image
    height: 200px;       // Fixed height for uniformity
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: calc(var(--spacing-unit) * 1);
  }
  
  &__content {
    width: 100%;
    text-align: left; // Left-align text in the content section
    
    &__title {
      color: var(--color-dark-primary);
      font-size: 1.4rem;
      margin: 0 0 calc(var(--spacing-unit) * 0.5) 0;
    }
    
    &__price {
      color: var(--color-primary);
      font-size: 1.6rem;
      font-weight: bold;
      margin: 0 0 calc(var(--spacing-unit) * 1) 0;
    }
  }
}
