@use "../base" as base;
@use "../mixins" as mixins;
@use "sass:color";

.product-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: var(--shadow-light);
  display: flex;
  flex-direction: column;
  padding: calc(var(--spacing-unit) * 1.5);
  transition: box-shadow var(--transition-default);

  &:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.18);
  }

  &__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: calc(var(--spacing-unit) * 0.5);
  }
  
  &__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: calc(var(--spacing-unit) * 0.25);
    
    &__title {
      color: var(--color-dark-primary);
      margin: 0;
    }
    
    &__price {
      color: var(--color-primary);
      font-weight: var(--font-weight-bold);
      margin: 0;
    }
  }
  
  .details-button {
    display: block;
    text-align: left;
    margin-top: calc(var(--spacing-unit) * 0.25);
  }
}
