@use '../base' as *;
@use '../mixins' as *;


// Modern Irish typography

$irish-green: #17623e;
$irish-green-dark: #11442b;

body {
  font-family: var(--font-family-base);
  color: $irish-green-dark;
  background: #fbfbe6;
}

h1, h2, h3, h4, h5, h6 {
  color: $irish-green;
  font-family: var(--font-family-heading);
  font-weight: 900;
  letter-spacing: 0.01em;
}

a {
  color: $irish-green;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.14s;
  &:hover,
  &:focus {
    color: #218c5a;
    text-decoration: underline;
  }
}