@use '../base' as base;
@use '../mixins' as mixins;

.home-page__hero {
  @include mixins.card(18px);
  max-width: 1200px;
  margin: 32px auto 0 auto;
  text-align: center;
  padding: 38px 32px 32px 32px;

  h1 {
    @include mixins.heading;
    font-size: 2.5rem;
    margin-bottom: 16px;
  }
  p {
    color: base.$irish-green-dark;
    font-size: 1.18rem;
    margin-bottom: 16px;
  }
}
