@use "../base" as base; // Import base.scss

/* Styles for the Login */
.login-page {
  padding: calc(var(--spacing-unit) * 3);
  background-color: var(--color-bg);

  &__form {
    max-width: 400px;
    margin: 0.8rem auto 2rem auto;
    padding: calc(var(--spacing-unit) * 2);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: var(--shadow-light);

    label {
      display: block;
      margin-bottom: calc(var(--spacing-unit) * 0.5);
      font-weight: bold;
      color: var(--color-dark-primary);
    }

    input {
      width: 100%;
      padding: calc(var(--spacing-unit) * 0.75);
      margin-bottom: calc(var(--spacing-unit) * 1.5);
      font-size: 1rem;
      border: 1px solid var(--color-primary);
      border-radius: 4px;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border-color: var(--color-primary-light);
        box-shadow: 0 0 4px rgba(0, 128, 0, 0.2);
      }
    }

    .login-page__remember-me {
      display: flex;
      align-items: center;
      gap: calc(var(--spacing-unit) * 0.5);
      margin-bottom: calc(var(--spacing-unit) * 1.5);
      font-size: var(--font-size-small);

      input {
        width: auto;
      }
    }

    .login-page__role-toggle {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: calc(var(--spacing-unit) * 2);
      padding: calc(var(--spacing-unit) * 1);
      background-color: var(--color-bg);
      border: 1px solid var(--color-primary);
      border-radius: 4px;

      .toggle-option {
        flex: 1;
        text-align: center;
        padding: calc(var(--spacing-unit) * 0.75);
        cursor: pointer;
        font-weight: bold;
        color: var(--color-dark-primary);
        transition: all var(--transition-default);

        &:hover {
          background-color: var(--color-primary-light);
          color: #fff;
        }

        &.active {
          background-color: var(--color-primary);
          color: #fff;
        }
      }
    }

    button {
      width: 100%;
      padding: calc(var(--spacing-unit) * 1);
      background-color: var(--color-secondary);
      border: none;
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color var(--transition-default);

      &:hover {
        background-color: base.$hover-secondary-color; 
      }
    }
  }
}

/* Title for the login popup */
.login-popup__title {
  font-size: var(--font-size-heading);
  margin-bottom: calc(var(--spacing-unit) * 1);
  text-align: center;
  color: var(--color-dark-primary);
}

/* Instructional text for role selection */
.login-popup__instruction {
  font-size: var(--font-size-small);
  color: var(--color-text);
  margin-bottom: calc(var(--spacing-unit) * 0.5);
  text-align: center;
}

