@import '../../../assets/styles/abstracts/_variables.scss';

.footer {
  width: 100%;
  background-color: var(--color-forest-green);
  color: white;
  padding: calc(var(--spacing-unit) * 2);
  text-align: center;
  margin-top: calc(var(--spacing-unit) * 3);
}