@import '~normalize.css/normalize.css';
@import 'base';

/* Global body styles override if needed */
body {
  margin: 0;
  /* We now use our design token by referencing the CSS variable, which was set in base.scss */
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}
