@import "~normalize.css/normalize.css";
@import "abstracts/_variables.scss";
@import "abstracts/_mixins.scss";
@import "base";
@import "overrides";

/* Additional global rules */
body {
  margin: 0;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}
