@import '../../assets/styles/abstracts/_variables.scss'; 
@import '../../assets/styles/abstracts/_mixins.scss';   

.dashboard-container {
  background-color: var(--light-green);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-base);
}

/* You may choose to add additional styles for main, footer, etc., if needed */
