@use 'base' as *; // Bring all variables from base.scss into the global namespace

// Override for Ant Design primary button styles
.ant-btn-primary {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  
  &:hover {
    background-color: $hover-primary-color !important;
    border-color: $hover-primary-color !important;
  }
}

// Additional overrides will be added here...
