@use './base' as *;

input, button, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

a {
  color: $irish-green;
  text-decoration: none;
  transition: color 0.15s;
  &:hover, &:focus {
    color: $irish-gold-dark;
    text-decoration: underline;
  }
}