@use 'mixins'; // Import the mixin module (adjust the path if necessary)

.mt-1 {
  margin-top: calc(var(--spacing-unit) * 0.5) !important;
}

.mt-2 {
  margin-top: var(--spacing-unit) !important;
}

.mt-3 {
  margin-top: calc(var(--spacing-unit) * 1.5) !important;
}

.flex-center {
  @include mixins.flexbox(center, center);
}
